@page "{id:int?}"
@model RazorPagesMovie.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Price" class="control-label"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Location.Name" class="control-label"></label>
                <input asp-for="Movie.Location.Name" class="form-control" />
                <span asp-validation-for="Movie.Location.Name" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-8">
        @if (Model.Actors != null)
        {
            <h4>Cast</h4>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Birth Data</th>
                    <th>Awards</th>
                </tr>

                @foreach (var item in Model.Actors)
                {
                    string actorToDeleteID = item.ID.ToString();
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="DeleteActor"
                                asp-route-id="@Model.Movie.ID" asp-route-actorToDeleteID="@actorToDeleteID">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwardedBestActor)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        @if (Model.AllActors != null)
        {
            <h4>Other Actors</h4>
            <form>
                <p>
                    Name: <input type="text" asp-for="SearchString" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Birth Data</th>
                    <th>Awards</th>
                </tr>

                @foreach (var item in Model.AllActors)
                {
                    string actorToAddID = item.ID.ToString();
                    <tr>
                        <td>
                            <form method="post" asp-page-handler="AddActor"
                                asp-route-id="@Model.Movie.ID" asp-route-actorToAddID="@actorToAddID">
                                <button class="btn btn-default">Add</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwardedBestActor)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
